{% extends './base.html' %}

{% block title %}Login{% endblock %}


{% block customCss %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/sign-in.css') }}">

<style>
    #divServicios {
      width: 70%;
      height: 600px;
      background-color: yellow;
      margin-left: auto;
      margin-right: auto;
      display: flex;
    }

    #izquierda {
      flex-basis: 66.67%; /* 2/3 */
      background-color: red; /* solo para ilustrar la parte izquierda */
      display: flex;
      flex-direction: column;
    }

    .seccion {
      flex-basis: 50%;
      background-color: lightgray; /* solo para ilustrar las secciones */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  </style>

{% endblock %}





{% block body %}


<header data-bs-theme="dark">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="home">Hotel Bonita</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link active" href="reservas">Reservar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="paquetes">Paquetes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="miCuenta">Mi Cuenta</a>
              </li>
          </ul>
          <a class="btn btn-outline-success" style="color:red; border-color: red;" href="{{ url_for('logout') }}">Salir</a>
        </div>
      </div>
    </nav>
  </header>
<br><br><br>

<body>
    <div id="divServicios">
      <div id="izquierda">
        <div class="seccion">
          <h2>Paquete Empresarial</h2>
          <p>Habitacion: Sencilla</p>
          <p>Servicios: Servicio Taxi</p>
          <p>Precio: 1000$</p>
        </div>
        <div class="seccion">
          <h2>Paquete Familiar</h2>
          <p>Habitacion: Superior</p>
          <p>Servicios: Servicio Taxi y Tour Cenotes</p>
          <p>Precio: 2500$</p>
        </div>
      </div>
      <div id="derecha">
        <main class="form-signin w-100 m-auto">
            <form action="/reservarPaquete" method="POST">
             
                <h1 class="h3 mb-3 fw-normal">Reservar Paquete</h1>

                <div class="form-floating">
                    <label for="paqueteID" ></label>
                    <select id="paqueteID" name="paqueteID" class="form-control" required>
                        <option disabled selected>Selecciona un Paquete</option>
                        {% for i in range(numPaquetes) %}
                            <option value={{ paquetes[i][0] }}>{{ paquetes[i][0] }}</option>
                        {% endfor %}
                        
                    </select>
                </div>
                <br>

                <div class="form-control">
                    <label for="dias">Días de estancia</label>
                    <input type="number" name="dias" min="1" step="1" required>
                  </div>
                  <br>
          


            
              
              <div class="form-floating">
                  <input type="date" class="form-control" name="fechaReserva" required >
                  <label for="fechaReserva">Fecha Reserva</label>
                </div>
                <br>
               
                <br>
          
              
              <button class="w-100 btn btn-lg btn-primary" type="submit">Reservar Paquete</button>
              
            </form>
          </main>
    </div>
    </div>
  </body>
    

{% endblock %}
